<div class="col-md-3 mb-4">
    <div class="nav flex-column nav-pills bg-white shadow-sm rounded border overflow-hidden"
        aria-orientation="vertical">
        <a href="{% url 'dashboard' %}"
            class="nav-link text-dark p-3 border-bottom {% if '/dashboard/' == request.path %}bg-warning font-weight-bold text-white{% endif %}">
            <i class="fa fa-tachometer mr-2"></i> Dashboard
        </a>
        {% if perms.auth.view_user %}
        <a href="{% url 'user' %}"
            class="nav-link text-dark p-3 border-bottom {% if '/user/' in request.path %}bg-warning font-weight-bold text-white{% endif %}">
            <i class="fa fa-users mr-2"></i> Users
        </a>
        {% endif %}
        <a href="{% url 'categories' %}"
            class="nav-link text-dark p-3 border-bottom {% if '/categories/' in request.path %}bg-warning font-weight-bold text-white{% endif %}">
            <i class="fa fa-list mr-2"></i> Categories
        </a>
        <a href="{% url 'posts' %}"
            class="nav-link text-dark p-3 border-bottom {% if '/posts/' in request.path %}bg-warning font-weight-bold text-white{% endif %}">
            <i class="fa fa-file-text mr-2"></i> Posts
        </a>
        <a href="{% url 'logout' %}" class="nav-link text-danger p-3 bg-light">
            <i class="fa fa-sign-out mr-2"></i> Logout
        </a>
    </div>
</div>